<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MarketplaceEventManager
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\CustomOptions" type="Webkul\MarketplaceEventManager\Ui\DataProvider\Product\Form\Modifier\CustomOptions" />
    <type name="Magento\CatalogInventory\Model\Stock\Item">
        <plugin name="Webkul_MarketplaceEventManager::afterGetQty" type="Webkul\MarketplaceEventManager\Plugin\Model\CatalogInventory\Stock\Item" sortOrder="1" />
    </type>
    <!--<type name="Webkul\Marketplace\Block\Product\Productlist">
        <plugin name="Webkul_MarketplaceEventManager::aftergetAllProducts" type="Webkul\MarketplaceEventManager\Plugin\Productlist" sortOrder="1" />
    </type>-->
    <type name="Webkul\Marketplace\Controller\Product\Edit">
        <plugin name="Webkul_MarketplaceEventManager::aroundExecute" type="Webkul\MarketplaceEventManager\Plugin\Controller\Product\Edit" sortOrder="1" />
    </type>
    <type name="Webkul\Marketplace\Block\Order\View">
        <plugin name="Webkul_MarketplaceEventManager::aroundisOrderCanShip" type="Webkul\MarketplaceEventManager\Plugin\Block\Order\View" sortOrder="1" />
    </type>
    <type name="Magento\Review\Observer\CatalogBlockProductCollectionBeforeToHtmlObserver">
        <plugin name="Webkul_MarketplaceEventManager::aroundExecute"
                type="Webkul\MarketplaceEventManager\Plugin\CatalogBlockProductCollectionBeforeToHtmlObserver"
                sortOrder="10" />
    </type>
    <preference for="Magento\Catalog\Controller\Adminhtml\Product\Validate" type="Webkul\MarketplaceEventManager\Controller\Rewrite\ValidateProduct"/>
</config>